<form id="edit">
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" value="{{post.title}}"><br>
  <label for="content">Content:</label><br>
  <textarea id="content" name="content">{{post.content}}</textarea><br><br>
  <button type="submit">Save Changes</button>
</form>

<script src="/js/edit.js"></script>
