/* new font family imported */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

/* Add background image to the body */
body {
  font-family: 'Cinzel Decorative', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/images/chic background 2.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family:'Playfair Display SC';
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Header styles */
header {
  background-color: #ec9052;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 10px;
}

/* Main content styles */
main {
  padding: 20px;
  /* margin-bottom: 10px; */
}

form {
  margin-top: 30px;
  display:flex;
  justify-content: center;
}

/* Wrapper for form elements */
.form-group {
  margin-bottom: 10px; /* Add margin between form groups */
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
}

/* Submit button style */
button[type="submit"] {
  background-color: #ec9052;
  font-family: 'Cinzel Decorative', sans-serif;
  color: white;
  padding: 10px 20px; /* Padding around the text */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px; /* Add margin between input and button */
}

/* Space between label and input */
form label {
  margin-right: 10px; /* Add margin to the right of the label */
}

form input[type="text"],
form input[type="password"] {
  margin-bottom: 10px; /* Add margin below the input fields */
}


/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}


  